/* CSS Document */
/*左侧栏*/
.leftcolumn{
	width:200px;
	height:1200px;
	margin-top:15px;
	float:left;
	margin-left:72px;
	border:0px solid #FF0000;

}
/*相关产品主框架*/
.relation-produ{
	width:200px;
	height:500px;
	margin-top:0px;
	float:left;
	margin-left:0px;
	border: 1px solid #CCCCCC;
	background-color:#FFF;
}
/*相关图片*/
.relation_produ_img{
	width:90px;
	height:90px;
	margin-top:10px;
	margin-right:6px;
	float:right;
	color:#8E8E8E;
	border:0px solid #999999;
}
/*产品内容*/
.relation_produ_cont{
	width:90px;
	height:90px;
	margin-top:10px;
	margin-left:6px;
	float:left;
	border:0px solid #999999;
}
/*用户评论*/
.message-board{
	width:200px;
	height:600px;
	margin-top:3px;
	float:left;
	margin-left:0px;
	border:1px solid #CCCCCC;

}
/*banner首页*/
.banner{
	position:relative;
	width:640px;
	height:100px;
	margin-top:15px;
	margin-left:8px;
	float:left;
	background-color:#fff;

}
//图片自动切换
#imageFx{border:1px solid #000;width:640px;height:130px;overflow:hidden;position:relative;}
#imageFx img{display:none;}
#maskFx{position:absolute;z-index:1;width:100%;height:100%;overflow:hidden;}
#maskFx .range{float:left;display:inline;position:relative;}
#maskFx .range div{position:absolute; left:0;top:0;}
#imageFx .pageBar{position:absolute;z-index:1;right:10px;bottom:10px}
.pageBar a{display:block;background:#000;border:1px solid #666;color:#fff;float:left;width:16px;font-size:12px;margin:2px;text-align:center;line-height :16px;font-family:Arial;cursor:pointer;text-decoration:none;}
.pageBar a:hover,.pageBar a.current{background:red;color:#fff;border:1px solid #600;border-top:1px solid #F96;border-left:1px solid #F96;}


.xmenu td{font-size:12px;font-family:verdana,arial;font-weight:bolder;color:#ffffff;border:1px solid #336699;background:#336699;filter:blendtrans(duration=0.5);cursor:hand;text-align:center;}

 /*右侧栏*/
.rightcolumn{
	width:200px;
	height:1200px;
	float:right;
	margin-top:15px;
	margin-right:72px;
	border:0px solid #FF0000;
}
/* 公告*/
.notice{
	width:200px;
	height:150px;
	margin-top:0px;
	float:hight;
	margin-right:60px;
	border:0px solid  #CCCCCC;
    background-color:#FFF;
}.dianping{
	margin-top:0px;
	margin-left:0px;
}.dianping_font{
	font-size:12px;
	margin-top:-15px;
	margin-left:10px;
}.dianping_much{
	font-size:12px;
	margin-top:-13px;
	margin-left:160px;
}.dianping_context{
	width:250px;
	font-size:12px;
	margin-top:5px;
	margin-left:-22px;
	Line-height:17pt;
	list-style-type:none;
}
/*推荐排行*/
.recommend-top{
	width:200px;
	height:500px;
	margin-top:20px;
	float:right;
	margin-right:-2px;
	border:1px solid #CCCCCC;
	background-color:#FFF;
}.recommend-top-img{
		margin-top:10px;
		margin-left:5px;
}.recommend-top-context{
		width:130px;
		margin-top:-50px;
		margin-left:70px;
}.recommend-top-contexts{
		width:250px;
		line-height:10pt;
		margin-top:30px;
		margin-left:-25px;
}.li-top{
	margin-top:15px;
	list-style-type:none;
}.li-xia{
	margin-top:5px;
}
/*热门推荐*/
.recommend-hot{
	width:200px;
	height:400px;
	margin-top:20px;
	float:right;
	margin-right:-2px;
	border:1px solid #CCCCCC;
	background-color:#FFF;
}.recommend-hot-context{
	 margin-left:-25px;
	 list-style-type:none;
	}

.tab_container1 {
    width:800px;
    text-align:left;
}
.cls_tab_nav {   
    height:26px;   
    overflow:hidden;   
    font-size:12px;   
    text-align:left;   
    background:url() repeat-x bottom;   
}   
.cls_tab_nav ul {   
    font-size:9pt;   
    margin:0;   
    padding:0;   
}   
.cls_tab_nav_li {   
    background:url(../image/tab_bg.jpg) no-repeat -160px 0; 
    width:160px;   
    height:26px;   
    line-height:26px;   
    float:left;   
    display:inline;   
    overflow:hidden;   
    text-align:center;   
    cursor:pointer;   
}   
.cls_tab_nav_li_first {   
    background-position:0px 0px;   
}   
.cls_tab_nav_li a {   
    text-decoration:none;   
    color:#555;   
    font-size:12px;   
}
.cls_tab_body {
    border:0px solid FEF9F9;
    border-top:none;
    min-height:737px;
    padding:18px;
    color:#6C6C6C;
    font-size:12px;
}
.cls_div {
    display:none;
    font-size:14px;
}
/*内容页面*/
.conters {
	width:640px;
	height:800px;
	margin-top:5px;
	float:left;
	margin-left:8px;

}
/*主页模块内容*/
.content_mode{
	width:638.5px;
	height:200px;
	margin-top:-19px;
	float:left;
	margin-left:-18px;
	border:solid 1px #CCCCCC;
	background-color:#FFF;
}
/*模块图片*/
.content_mode_img{
	width:250px;
	height:160px;
	margin-top:10px;
	margin-left:4px;
	float:left;
	vertical-align: middle;
	border:1px solid  #FF0000;
	background-color:#FFF;
}
/*模块内容*/
.content_mode_cont{
	width:350px;
	height:160px;
	margin-top:10px;
	margin-left:10px;
	float:left;
	list-style-type:none;
	font-size:12px;
	color:#666666;
	border:1px solid  #CCCCCC;

}
/*主页模块内容
.content_mode{
	width:640px;
	height:185px;
	margin-top:10px;
	float:left;
	margin-left:-18px;
	border:1px solid #CCCCCC ;
	background-color:#FFF;
}
.content-3{
	width:640px;
	height:185px;
	margin-top:10px;
	float:left;
	margin-left:-18px;
	border:1px solid #CCCCCC;
	background-color:#FFFFFF;
}
.content-4{
	width:640px;
	height:185px;
	margin-top:10px;
	float:left;
	margin-left:-18px;
	border:1px solid  #CCCCCC;
	background-color:#FFFFFF;
}
*/
/*页脚*/
.footer{
	width:1065px;
	height:200px;
	margin-top:20px;
	float:left;
	border:1px  solid #999999

}
/*左上*/
.about_product{
	width:50px;
	height:10px;
	margin-top:8px;
	margin-left:5px;
	font-size:12px;
	color:#006600;
}.how_much{
	width:50x;
	height:10px;
	margin-top:-15px;
	margin-left:150px;
	font-size:12px;
	color:#0066CC;
}.pldp{
	width:60px;
	height:10px;
	margin-top:8px;
	margin-left:5px;
	font-size:13px;
	color:#006600;
}.much{
	width:50x;
	height:10px;
	margin-top:-10px;
	margin-left:150px;
	font-size:13px;
	color:#0066CC;
}.test{
	width:300px;
	padding:30px 20px; 
	border:5px solid #beceeb; 
	position:relative;
	}.test span{
		width:0; height:0; 
		font-size:0; 
		overflow:hidden; 
		position:absolute;}
.test span.bot{
    border-width:20px;
    border-style:solid dashed dashed;
    border-color:#beceeb transparent transparent;
    left:80px;
    bottom:-40px;
}
.test span.top{
    border-width:20px;
    border-style:solid dashed dashed;
    border-color:#ffffff transparent transparent;
    left:80px;
    bottom:-33px;
}
#f13{
	font-size:13px; color: #0066CC;
}
#f15{
	font-size:15px; color:#0033FF;
}
